<div class="d-flex align-items-center">
    <img src="{{course.getImage()}}" alt="{{course.title}}" class="w-100">
    <div class="pl-4">
        <h3 class="mt-2">{{course.title}}</h3>
        <button class="btn btn-danger font-weight-bold my-2 rounded-0 px-4 py-2 d-flex align-items-center" [routerLink]="'/ver/' + course.id">Continuar curso <app-icon icon="angle-right" color="white"></app-icon> </button>
        <app-progress-bar [total]="course.total_elements" [number]="course.completed_elements"></app-progress-bar>
    </div>

</div>