<div class="row justify-content-center">
    <div class="col-12 col-lg-9 bg-white shadow rounded mt-1 p-5">
        <h1>Resetear contraseña</h1>
        <form class="mt-4 mb-3" (ngSubmit)="resetPassword()">
            <app-error-display [errors]="errors"></app-error-display>

            <div class="form-group">
                <input type="password" class="form-control" placeholder="Contraseña" [(ngModel)]="password" name="password1">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Repetí la contraseña" [(ngModel)]="repeatPassword" name="password1">
            </div>
            <button type="submit" class="btn btn-secondary font-weight-bold col-12" showLoading [observable]="obs" [content]="'Cambiar'"></button>
            
        </form>
    </div>

</div>
