@import '../../bootstrap';

.sortable-container{ 
    margin:0 auto !important;
    .sortable-header {
        background:none !important;
        padding: 15px !important;
        .sortable-buttons {
            button {
                background: $primary !important;
                border: none !important;
            }
        }
    }
    .active .sortable-list-item {
        background:  $primary !important;
    }
}