<div class="row justify-content-center">
    <div class="col-lg-5 col-12 py-lg-5 py-3 d-flex justify-content-center flex-column">
        <h1 class="text-blue d-flex">
            <img src="/assets/logo-blue.png" alt="{{appName}}" width="335px">
            <!--<strong> ReachingU</strong>-->
        </h1>
        <h3 class="text-dark"> <strong>Tus clases a distancia, más cercanas.</strong></h3>
        <p class="text-blue"> {{appName}} te da el mejor respaldo para tus cursos. Clases en vivo a un solo click, todo el material de respaldo en cada tema y evaluaciones y entregas para testear el aprendizaje de tus alumnos. </p>
    </div>
    <div class="col-lg-5 d-none d-lg-flex col-12 py-lg-5 py-3 justify-content-center">
        <img src="/assets/home-img.png" class="sitting-girl" alt="home image">
    </div>
</div>

<div class="row buttons justify-content-center">
    <div class="col-lg-10 col-12 d-flex flex-wrap">
        <button class="btn btn-orange text-blue font-weight-bold h2 rounded-0 px-5 m-0" [routerLink]="'/dashboard'">explorar
            cursos</button>
    </div>
</div>

<div class="row justify-content-center bg-blue py-5">
    <div class="col-lg-5 col-12 py-lg-5 py-3 text-white">
        <h1 class="text-yellow"><strong> Clases en vivo</strong></h1>
        <p class="text-white">¡Iniciá videoconferencias en vivo con un solo click! Compartí tu pantalla para que vean tu contenido, recibí preguntas de los estudiantes a través del chat y mucho más. </p>
    </div>
    <div class="col-lg-5 col-12 py-lg-5 py-3 text-white">
        <h1 class="text-white"><strong> Tu aula virtual</strong></h1>
        <p class="text-yellow">Crea tu curso con todo el material que quieras para lograr la mejor clase a distancia. Podés cargar presentaciones, lecturas, entregas y evaluaciones individuales y grupales.</p>
    </div>
</div>

<div class="row justify-content-center py-4" *ngIf="courses && courses.length">
    <div class="col-12 col-md-10">
        <div class="row mt-5 d-flex justify-content-center">
            <div class="col-12 d-flex justify-content-center">
                <h1 class="font-weight-bold mb-2">Cursos destacados</h1>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-2 d-flex" *ngFor="let c of courses">
                <app-course-square [course]="c" class="pointer p-2" [routerLink]="'curso/' + c.id"></app-course-square>
            </div>
        </div>
    </div>
</div>