<div class="row justify-content-center mb-4">
    <div class="col-lg-9 col-12 shadow bg-white p-lg-5 p-3">
        <h3 class="mb-3">Bienvenido al administrador de curso :)</h3>
        
        <p class="mb-3">En esta sección podrás modificar todo el contenido del curso, agregar nuevos alumnos, crear grupos y más. Te dejamos una explicación de cada una de las secciones (a las cuales podes acceder con los botones de arriba)</p>

        <ul>
                <li class="my-4">
                    <strong class="text-blue">Inicio: </strong> ¡Lo que estás leyendo en este momento! Por ahora solo tendrá este tutorial
                </li>
                <li class="my-4">
                    <strong class="text-primary">Contenido: </strong> Aquí podrás crear contenido para que tus alumnos vean. Podés hacer foros, evaluaciones, solicitar entregas,
                    subir archivos para que ellos descarguen y más. El contenido está dividio en capítulos, y cada capítulo está divido en tabs (pestañas)
                    para que puedas organizar el material como prefieras ¡No es necesario que crées muchas tabs ni muchos capítulos si no querés!
                </li>
                <li class="my-4">
                    <strong class="text-orange">Videoconferencia: </strong> Entrando aquí podés comenzar una videoconferencia a la que tendrán acceso todos los estudiantes de este curso.
                </li>
                <li class="my-4">
                    <strong class="text-secondary">Alumnos: </strong> En esta pestaña podrás ver todos los alumnos de este curso, y brindarle acceso a otros usuarios que estén registrados
                    en la plataforma. Además, si no sos el unico profesor del curso podés darle permiso de administrador a otro usuario para que tenga acceso a este panel
                </li>
                <li class="my-4">
                    <strong class="text-danger">Entregas: </strong> Todas las evaluaciones creadas en la sección <span class="text-red">Editar contenido del curso</span> podrás verlas aqui,
                    y con ellas las respuestas de tus alumnos.
                </li>
        </ul>

        <p class="mt-4">
            ¡Esperamos que este resumen te ayude a utilizar la plataforma! Si tenés alguna pregunta no dudes en escribirnos a nuestras redes sociales (las podés encontrar mas abajo) y estaremos felices de ayudarte.
        </p>

    </div>
</div>