<div class="bg-dark py-5 text-white shadow-top">
    
    <div class="d-flex justify-content-center align-items-center flex-wrap">


        <div class="col-lg-3 col-md-4 my-lg-0 my-sm-4 col-12 text-center d-flex flex-column align-items-center">
            <img src="/assets/logo-white.png" alt="{{appName}}" class="mb-3 mt-1">
            
        </div>

        <div class="col-lg-3 col-md-4 my-lg-0 my-sm-4 col-12 text-center d-flex flex-column align-items-center">
            <strong class="mb-2"> Soy profesor </strong>
            <p>
                ¡Ponete en contacto con nosotros para utilizar {{appName}} en tus cursos!
            </p>
            <a href="mailto:info@microbio.uy" class="text-white">info@microbio.uy</a>
        </div>

        <div class="col-lg-3 col-md-4 my-lg-0 my-sm-4 col-12 text-center d-flex flex-column align-items-center">
            <strong class="mb-1"> Desarrollado por </strong>
            <a href="http://microbio.uy" target="_blank">
                <img src="/assets/microbio.png" alt="Microbio" width="130px" class="my-3">
            </a>
        </div>
    </div>
</div>

<div class="p-1 bg-black text-center text-white">
    &copy; {{currentDate | date: 'yyyy'}} <a>sauce.uy</a>
</div>