<div class="row justify-content-center mb-4">
    <div class="col-lg-9 col-12 p-0">
        <button class="btn btn-blue shadow py-3 px-4 square font-weight-bold rounded-0" *ngIf="courseId" [routerLink]="'/admin/' + courseId + '/dashboard'">
            Inicio
        </button>
        <button class="btn btn-primary shadow py-3 px-4 square font-weight-bold rounded-0 text-white" *ngIf="courseId" [routerLink]="'/ver/' + courseId">
            Contenido
        </button>
        <button class="btn btn-orange text-white shadow py-3 px-4 square font-weight-bold rounded-0" *ngIf="courseId" [routerLink]="'/admin/' + courseId + '/videoconferencia'">
            Videoconferencia
        </button>
        <button class="btn btn-secondary shadow py-3 px-4 square font-weight-bold rounded-0" *ngIf="courseId" [routerLink]="'/admin/' + courseId + '/permisos'">
            Alumnos
        </button>
        <button class="btn btn-danger shadow py-3 px-4 square font-weight-bold rounded-0 text-white" *ngIf="courseId" [routerLink]="'/admin/' + courseId + '/progreso'">
            Entregas
        </button>
    </div>
</div>