



<div class="row justify-content-center mb-4">
    <div class="col-lg-9 col-12 shadow p-lg-5 p-3 bg-white">
        <h2 class="font-weight-bold mb-3">Nuevo post</h2>
        <input type="text" class="with-border form-control mb-3" placeholder="Título..." [(ngModel)]="post.title">
        <ckeditor 
        [editor]="Editor" [(ngModel)]="post.text" 
        [config]="{ placeholder: 'Contenido...',language: 'es', toolbar: [ 'heading', '|', 'bold', 'italic', 'link', '|', 'bulletedList', 'numberedList', 'blockQuote', '|', 'undo', 'redo' ],
            heading: {
                options: [
                    { model: 'paragraph', title: 'Párrafo', class: 'ck-heading_paragraph' },
                    { model: 'heading1', view: 'h2', title: 'Subtítulo', class: 'ck-heading_heading1' },
                    { model: 'heading2', view: 'h3', title: 'Cabezal', class: 'ck-heading_heading2' }
                ]
            }
        }"></ckeditor>
        
        <button class="btn btn-secondary mt-3 font-weight-bold d-flex col-12 py-2 justify-content-center" showLoading [observable]="obs" [content]="'Enviar post'" (click)="sendPost()"> </button>
    </div>
</div>